.textBox{
    background-color: #fff;
    border-radius: 50px;
    padding: 0.7rem 1rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    min-width: 350px;
    /* flex-wrap: wrap; */
    /* max-width: 400px; */
    color: rgba(9, 9, 9, 0.618);
}
.textBox img{
    width: 20%;
    border-radius: 50%;
}
.textBox p{
    font-size: 95%;
}