/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Heebo&family=IBM+Plex+Sans:ital@1&family=Inter&display=swap');
:root {
  /* --font-family: 'Manrope', sans-serif;
   */
   --font1: 'Heebo',sans-serif;
   --font2:'Inter',sans-serif;
     --pink-color: #e63963;
}
